body{
  margin:0;
  font-family:Inter,Arial;
  background:#0b1220;
  color:#e5e7eb;
}

.layout{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:240px;
  background:#020617;
  padding:20px;
  border-right:1px solid #1f2937;
}

.logo{
  font-size:20px;
  margin-bottom:20px;
  font-weight:bold;
}

.nav{
  display:block;
  width:100%;
  margin:8px 0;
  padding:10px;
  background:transparent;
  border:1px solid #1f2937;
  color:#fff;
  border-radius:8px;
  cursor:pointer;
}

.main{
  flex:1;
  padding:30px;
}

.header span{
  color:#fbbf24;
}

.view{display:none;}
.view.active{display:block;}

.stats{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  margin-bottom:20px;
}

.quick{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.card{
  background:#020617;
  border:1px solid #1f2937;
  border-radius:12px;
  padding:20px;
}

.action{
  cursor:pointer;
  transition:0.2s;
}
.action:hover{
  border-color:#fbbf24;
}

textarea,input{
  width:100%;
  padding:10px;
  margin:8px 0;
  background:#020617;
  border:1px solid #1f2937;
  color:#fff;
  border-radius:6px;
}

button{
  background:#fbbf24;
  border:none;
  padding:10px 14px;
  margin-top:10px;
  border-radius:6px;
  cursor:pointer;
}

.footer{
  text-align:center;
  padding:12px;
  background:#020617;
  font-size:12px;
}
